<div class="footer">
    <div class="container">

        <div class="row justify-content-between align-items-top">
            <div>
                <img src="/media/img/static/footer-logo.png" class="logo">
                <div class="copy">© 2015–2019 Aitesk ltd</div>
            </div>
            <div class="list">
               <a href="/polls/cat1"><p class="category katalog-definer" id="1">Продукция для медножильных сетей</p></a>
               <a href="/polls/cat2"><p class="category katalog-definer" id="16">Продукция для оптических сетей</p></a>
               <a href="/polls/cat3"><p class="category katalog-definer" id="17">Продукция инженерной инфраструктуры</p></a>
               <a href="/polls/cat4"><p class="category katalog-definer" id="21">Инструменты</p></a>
               <a href="/polls/cat5"><p class="category katalog-definer" id="22">Цифровые АТС</p></a>
               <a href="/polls/cat6"><p class="category katalog-definer" id="23">Сувенирная продукция</p></a>
            </div>
            <img src="/media/img/static/manager.png" class="manager">
            <div class="sub">Есть вопросы? Оставьте заявку на звонок менеджера и мы обязательно свяжемся с вами.</div>
            <button class="global">Заказть звонок</button>
        </div>
    </div>
</div>