<div class="footer">
    <div class="container">

        <div class="row justify-content-between align-items-top">
            <div>
                <img src="/media/img/static/footer-logo.png" class="logo">
                <div class="copy">© 2015–2019 Aitesk ltd</div>
            </div>
            <div class="list">
               <a href="#"><p>Продукция для медножильных сетей</p></a>
               <a href="#"><p>Продукция для оптических сетей</p></a>
               <a href="#"><p>Продукция инженерной инфраструктуры</p></a>
               <a href="#"><p>Инструменты</p></a>
               <a href="#"><p>Цифровые АТС</p></a>
               <a href="#"><p>Сувенирная продукция</p></a>
            </div>
            <img src="/media/img/static/manager.png" class="manager">
            <div class="sub">Есть вопросы? Оставьте заявку на звонок менеджера и мы обязательно свяжемся с вами.</div>
            <button class="global">Заказть звонок</button>
        </div>
    </div>
</div>