<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
{% load static %}

<link rel="stylesheet/less" type="text/css" href="{% static 'polls/css/style.less'%}" />
<link rel="stylesheet" href="{% static 'polls/bs/css/bootstrap.min.css'%}" />

<script src="{% static 'polls/js/jquery.min.js' %}"></script>
<script src="{% static 'polls/js/less.min.js' %}"></script>
<script src="{% static 'polls/js/code.js' %}"></script>