{% extends "polls/base.html" %}



{% block content %}
<div class="about">
    <img src="/media/img/static/back-about.png" class="back-about">
    <div class="container">
        <div class="content">
            <div class="top">
                <img src="/media/img/static/about1.png" class="about1">
                <div class="title">Надежные решения <br> которые работают на Вас!</div>
                <div class="sub1">Cетевое и телекоммуникационное оборудование от ведущих мировых производителей</div>
                <div class="sub2">ТОО "Aitesk Ltd" работает на рынке Казахстана уже многие годы, и специализируются на поставке сетевого и телекоммуникационного оборудования, аксессуаров от ведущих мировых и отечественных производителей на территории Казахстана. <br> <br> За годы работы налажены прочные деловые контакты с широким кругом предприятий как на территории Казахстана, так и в странах ближнего идальнего зарубежья.</div>
            </div>
            <div class="mid">
                <div class="title">Aitesk ltd предлагает лучшие решения для Вашего бизнеса!</div>
                <div class="row align-items-center">
                    <div class="sub">ТОО "Aitesk Ltd" работает на рынке Казахстана уже многие годы, и специализируются на поставке сетевого и телекоммуникационного оборудования, аксессуаров от ведущих мировых и отечественных производителей на территории Казахстана. </div>
                    <button class="global modal-open-call">Отправить заявку</button>
                </div>
            </div>
            <div class="bottom">
                <img src="/media/img/static/about2.png" class="about2">
                <div class="cert">
                    <div class="title">Сертификаты</div>
                    <div class="row">
                         <a href="/media/img/static/cert1.png" target="_blank" rel="noopener noreferrer" ><img src="/media/img/static/cert1.png"></a>
                         <a href="/media/img/static/cert2.png" target="_blank" rel="noopener noreferrer" ><img src="/media/img/static/cert2.png"></a>
                         <a href="/media/img/static/cert3.png" target="_blank" rel="noopener noreferrer" ><img src="/media/img/static/cert3.png"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}